:root
	--primary #674fa3
	--on-primary #ffffff
	--primary-container #ebddff
	--on-primary-container #21005d
	--secondary #635b72
	--on-secondary #ffffff
	--secondary-container #c39ffa
	--on-secondary-container #1d192a
	--tertiary #7c5260
	--on-tertiary #ffffff
	--tertiary-container #ffd8e3
	--on-tertiary-container #31111e
	--error #b3261d
	--on-error #fffff
	--error-container #fadedb
	--on-error-container #410e0a
	--background #fffbff
	--on-background #1c1b20
	--surface #fffbff
	--on-surface #1c1b20
	--surface-variant #e7dfec
	--on-surface-variant #48454e
	--outline #7a747e
	--outline-variant #cac4d0
	--surface-1 #f7f2f9
	--surface-2 #f3edf7
	--surface-3 #efe9f5
	--surface-4 #ede7f3
	--surface-5 #eae4f2
