:root
	// --primary #674fa3
	// --on-primary #ffffff
	--primary-container #deeb77
	--on-primary-container #1a1e00
	// --secondary #635b72
	// --on-secondary #ffffff
	// --secondary-container #c39ffa
	// --on-secondary-container #1d192a
	// --tertiary #7c5260
	// --on-tertiary #ffffff
	// --tertiary-container #ffd8e3
	// --on-tertiary-container #31111e
	// --error #b3261d
	// --on-error #fffff
	// --error-container #fadedb
	// --on-error-container #410e0a
	// --background #fffbff
	// --on-background #1c1b20
	// --surface #fffbff
	--on-surface #e5e2da
	// --surface-variant #e7dfec
	--on-surface-variant #c8c7b7
	// --outline #7a747e
	// --outline-variant #cac4d0
	// --surface-1 #f7f2f9
	// --surface-2 #f3edf7
	--surface-3 #44403c
	--surface-4 #292524
	--surface-5 #1c1917
